

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#paginaPrincipal{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 50px;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-shadow: 2px 2px 4px #000000;
    z-index: 1;
}


video{
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    background-size: cover;
}


#paginaPrincipal li{
    text-decoration: none;
    list-style: none;
}


