body {
  text-align: center;
  background-color: aqua;
  font-family: Arial, sans-serif;
  justify-content: center;
}

#tablero img {
  width: 800px;

}

#tirarDado {
  font-size: 20px;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 5px 5px 10px gray;
  background-color: lightgreen;
  transition: 0.3s;
  margin-left: 50px;
}

#tirarDado:hover {
  background-color: limegreen;
  transition: 0.3s;
}

#resultadoDado {
  margin-top: 15px;
  font-size: 22px;
}

#resultadoDado {
  margin-top: 15px;
  font-size: 22px;
  color: green;
}

#fichaJugador1 {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  /* Posición inicial */
  left: 100px;
  /* Posición inicial */
  transition: left 0.5s, top 0.5s;
}

#fichaJugador2 {
  width: 40px;
  height: 40px;
  background-color: blue;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  /* Posición inicial */
  left: 150px;
  /* Posición inicial */
  transition: left 0.5s, top 0.5s;
}

#dadoJugador1 {

  border: 1px solid;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;

}

#dadoJugador2 {

  border: 1px solid;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;

}

#posicionCSS {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-left: 50px;
}

h1,
h2 {
  margin-left: 50px;
}

/* le digo position fixed para que se quede fijado y a partir de ahi al darle 
un tipo de position puedo modificar los valores de left top bottom para hacer el div del tamaño
que prefiera, junto al padding para hacerlo más grande a lo ancho y alto*/

#mostrarPreguntas {
  position: fixed;
  left: 20px;
  top: 20px;
  bottom: 20px;
  width: 350px;
  padding: 100px;
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 20px;
}

.preguntaActual {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preguntaActual h2{

  width: 100%;
  margin: auto;

}

.divRespuestas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.botonesRespuesta {
  width: 80%;
  padding: 20px;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid #444;
  border-radius: 10px;
  background-color: #f0f8ff;
  cursor: pointer;
  transition: 0.3s;
  /* la velocidad que tendra la transicion al ponerse en el boton (entrada */
}

.botonesRespuesta:hover {
  background-color: #90e0ef;
  /* transform scale hace que cuando me ponga encima o me salga se haga zoom o deszoom */
  transform: scale(1.05);
  transition: 0.3s;
  border-color: #0077b6;
  /* la velocidad que tendra la transicion al ponerse en el boton (salida */

}





