

body{
    text-align: center;
    background-color: lightblue;
}

.matriz {
  display: inline-block;
  background-color: blue;
}
.fila {
  display: flex;
}
.casilla {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Pac-Man se ve grande */
}

#jugadorPacman{
    width: 30px;
    height: 30px;
}